
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*627vts*_ga*MzU2NDQzMTEzMS4xNjU4MzIyNzQ1*_ga_3LRZM6TM9L*MTY2MDg0OTQzMS4zMi4xLjE2NjA4NTA0OTMuNjAuMC4w");
    color: khaki;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

.green {
    color: white;
    background-color: mediumspringgreen;
}

.pink {
    color: white;
    background-color: lightcoral;
}

.sky-blue {
    color: white;
    background-color: skyblue;
}

.price {
    color: blue;
    font-weight: bold;
}